@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* margin: 200px */
  /* margin: 40px; */
  /* background-color: ; */
}

button {
  font: bold
}

.btn {
    @apply font-bold py-2 px-4 rounded; 
}

.btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }

  .btn-active {
    background-color: #4f46e5; /* Example active button color */
  }
  
  .btn-inactive {
    background-color: #6b7280; /* Example non-active button color */
  }
  


  @keyframes bounce {
    0%, 100% {
      transform: translateY(-1.5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }