@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply  bg-gray-100

}

.tags {
  @apply m-1.5 w-24 rounded-lg py-2 capitalize text-white
}

.btn-surprise {
  @apply font-bold rounded-lg flex items-center justify-center text-white py-2 w-full bg-blue-500 gap-2 uppercase h-12
}


.btn-surprise:hover {
  @apply bg-blue-500
}

.btn {
    @apply font-bold py-2 px-4 rounded; 
}

.btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }

  .btn-pagination {
    @apply m-1 h-10 w-10 rounded font-bold text-white
  }

  .btn-pagination:hover {
    @apply m-1 h-12 w-12 rounded-lg font-bold text-white  bg-blue-500;
  }
  

  .btn-active {
    @apply  bg-blue-700
  }
  
  .btn-inactive {
    @apply  bg-blue-400
  }
  
h1 {
  @apply font-semibold text-6xl text-gray-900
}

h2 {
  @apply font-semibold text-4xl text-gray-900
}

h3 {
  @apply font-semibold text-lg uppercase text-gray-900
}

h4 {
  @apply uppercase text-gray-900 font-semibold
}

p {
  @apply font-bold text-gray-900
}

li {
  list-style-type: none;
}

  @keyframes bounce {
    0%, 100% {
      transform: translateY(-1.5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  /* animation: bounce 1s infinite; */

  @keyframes bounce {
    0%, 100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }